@use 'variaveis';

.header {
    background-color: variaveis.$fundoPrinc;

    &__container {
        padding: 8px 36px;
        display: flex;
        align-items: center; // alinha verticalmente logo e título
        justify-content: center; // centraliza tudo no meio do header
        gap: 12px; // espaço entre logo e título
        position: relative;
    }

    &__logo {
        height: 60px; // define altura proporcional ao h1
        width: auto; // mantém proporção do logo
        display: block;
    }

    h1 {
        font-size: 2.8rem; // ajuste conforme o tamanho do logo
        margin: 0;
        color: variaveis.$corTxtHero;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    &__links {
        position: absolute;
        right: 36px; // joga o menu à direita
        top: 50%;
        transform: translateY(-50%); // centraliza verticalmente o menu
        display: flex;
        gap: 16px;
        list-style: none;

        &__item {
            color: variaveis.$corTxtHero;
            text-decoration: none;
            font-weight: 500;
        }
    }

    .button{
        color: variaveis.$corTitulosPrincipal;
        text-decoration: none;
        font-weight: 600;
        font-size: 1em;
        transition: color 0.3s ease;
        
        &:hover {
            color: variaveis.$corHover; // se tiver essa variável
            text-shadow: 0 0 8px variaveis.$corHover;
            transform: scale(1.05);
        }
    }
}
