$fundoPrinc: #0b0b0b;

$corTitulosPrincipal: #d4af37;
$corTitulosSection: #DAA520;// uma cor forte, mas não tão forte quando a principal, mas tbm não tão fraca quando os textos
$corTexto: #e8d6b5;
$corTxtHero: #ffcc33; //texto principal do hero
$corDetalhes: #CBB37E; //bordas se for preciso
$corHover: #FFD700; //nos link, para os hover no header
$corTitlePersona: #d4af37